body {
    background-color:rgb(231, 229, 229) ;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #b4b5b8;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #75f5db;
}
