.Form {
    font-family: 'Lucida Console';
    text-align: center;
    border-radius: 20px;
    box-shadow: 20px 20px 150px #000000;
    margin-left: 30px;
    height: 70vh;
    width: 50vh;
    margin-top: 10vh
    
}

.Form  label{
    margin-top: 25px;
}

.Form input {
     border-radius: 20px;
     box-shadow: 20px 20px 150px #000000;
     align-content: center;
}

.Form select {
     border-radius: 20px;
     box-shadow: 20px 20px 150px #000000;
     align-content: center;
}