.page h1 {
    text-decoration: underline;
    font-family: Arial;
    text-decoration-color: #FE7672;
    color: #FFC082;
    
}

image {

    box-shadow: 20px 20px 150px #000000;
    align-content: center;
    margin-top: 25vh;
}